@layer base, components, theme, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  :root {
    --font-pretendard: "Pretendard";
  }
  html {
    font-size: 62.5%;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-pretendard);
  }

  button,
  input,
  select,
  textarea {
    font-family: var(--font-pretendard);
  }
}

@theme {
  --font-sans:
    var(--font-pretendard), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-title1-semi36: 3.6rem;
  --text-title1-semi36--font-weight: 600;
  --text-title1-semi36--line-height: 1.5;
  --text-title1-semi36--letter-spacing: -0.06em;

  --text-title2-medi28: 2.8rem;
  --text-title2-medi28--font-weight: 500;
  --text-title2-medi28--line-height: 1.5;
  --text-title2-medi28--letter-spacing: -0.06em;

  --text-title3-bold24: 2.4rem;
  --text-title3-bold24--font-weight: 700;
  --text-title3-bold24--line-height: 1.5;
  --text-title3-bold24--letter-spacing: 0rem;

  --text-heading1-semi20: 2rem;
  --text-heading1-semi20--font-weight: 600;
  --text-heading1-semi20--line-height: 1.5;
  --text-heading1-semi20--letter-spacing: 0rem;

  --text-heading2-semi18: 1.8rem;
  --text-heading2-semi18--font-weight: 600;
  --text-heading2-semi18--line-height: 1.5;
  --text-heading2-semi18--letter-spacing: 0rem;

  --text-heading2-medi18: 1.8rem;
  --text-heading2-medi18--font-weight: 500;
  --text-heading2-medi18--line-height: 1.5;
  --text-heading2-medi18--letter-spacing: 0rem;

  --text-body1-semi16: 1.6rem;
  --text-body1-semi16--font-weight: 600;
  --text-body1-semi16--line-height: 1.5;
  --text-body1-semi16--letter-spacing: 0rem;

  --text-body1-bold16: 1.6rem;
  --text-body1-bold16--font-weight: 700;
  --text-body1-bold16--line-height: 1.6;
  --text-body1-bold16--letter-spacing: 0rem;

  --text-body1-medi16: 1.6rem;
  --text-body1-medi16--font-weight: 500;
  --text-body1-medi16--line-height: 1.5;
  --text-body1-medi16--letter-spacing: 0rem;

  --text-body1-regular16: 1.6rem;
  --text-body1-regular16--font-weight: 400;
  --text-body1-regular16--line-height: 1.5;
  --text-body1-regular16--letter-spacing: -0.04em;

  --text-body2-medi14: 1.4rem;
  --text-body2-medi14--font-weight: 500;
  --text-body2-medi14--line-height: 1.5;
  --text-body2-medi14--letter-spacing: -0.04em;

  --text-body2-regular14: 1.4rem;
  --text-body2-regular14--font-weight: 400;
  --text-body2-regular14--line-height: 1.8;
  --text-body2-regular14--letter-spacing: -0.04em;

  --text-body3-semi15: 1.5rem;
  --text-body3-semi15--font-weight: 600;
  --text-body3-semi15--line-height: 1.5;
  --text-body3-semi15--letter-spacing: -0.04em;

  --text-caption1-semi12: 1.2rem;
  --text-caption1-semi12--font-weight: 600;
  --text-caption1-semi12--line-height: 1.5;
  --text-caption1-semi12--letter-spacing: -0.04em;

  --text-caption1-medi12: 1.2rem;
  --text-caption1-medi12--font-weight: 500;
  --text-caption1-medi12--line-height: 1.5;
  --text-caption1-medi12--letter-spacing: -0.04em;

  --text-caption2-medi11: 1.1rem;
  --text-caption2-medi11--font-weight: 500;
  --text-caption2-medi11--line-height: 1.5;
  --text-caption2-medi11--letter-spacing: -0.04em;

  --text-caption2-regular11: 1.1rem;
  --text-caption2-regular11--font-weight: 400;
  --text-caption2-regular11--line-height: 1.5;
  --text-caption2-regular11--letter-spacing: -0.04em;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #0bb77d;

  --color-neutral-100: #ffffff;
  --color-neutral-99: #fbfdf8;
  --color-neutral-98: #f8faf6;
  --color-neutral-95: #eff1ed;
  --color-neutral-90: #e1e3df;
  --color-neutral-80: #c5c7c3;
  --color-neutral-70: #a9aca8;
  --color-neutral-60: #8f918e;
  --color-neutral-50: #757874;
  --color-neutral-40: #5c5f5c;
  --color-neutral-35: #505350;
  --color-neutral-30: #444845;
  --color-neutral-25: #393c39;
  --color-neutral-20: #2e312f;
  --color-neutral-15: #232724;
  --color-neutral-10: #191c1a;
  --color-neutral-5: #0e120f;
  --color-neutral-0: #000000;

  --color-neutral-variant-100: #ffffff;
  --color-neutral-variant-99: #f6fff6;
  --color-neutral-variant-98: #f3fcf3;
  --color-neutral-variant-95: #eaf3eb;
  --color-neutral-variant-90: #dce5dd;
  --color-neutral-variant-80: #c0c9c1;
  --color-neutral-variant-70: #a4ada6;
  --color-neutral-variant-60: #8a938c;
  --color-neutral-variant-50: #707972;
  --color-neutral-variant-40: #58605a;
  --color-neutral-variant-35: #4c544e;
  --color-neutral-variant-30: #404943;
  --color-neutral-variant-25: #353d38;
  --color-neutral-variant-20: #2a322d;
  --color-neutral-variant-15: #1f2822;
  --color-neutral-variant-10: #151d19;
  --color-neutral-variant-5: #0b130e;
  --color-neutral-variant-0: #000000;

  --color-primary-100: #ffffff;
  --color-primary-99: #f4fff6;
  --color-primary-98: #e8ffef;
  --color-primary-95: #bfffda;
  --color-primary-90: #6ffbbb;
  --color-primary-80: #4fdea1;
  --color-primary-70: #27c287;
  --color-primary-60: #00a570;
  --color-primary-50: #00885c;
  --color-primary-40: #006c48;
  --color-primary-35: #005f3e;
  --color-primary-30: #005235;
  --color-primary-25: #00452c;
  --color-primary-20: #003823;
  --color-primary-15: #002c1b;
  --color-primary-10: #002113;
  --color-primary-5: #00150a;
  --color-primary-0: #000000;

  --color-secondary-100: #ffffff;
  --color-secondary-99: #f4fff6;
  --color-secondary-98: #e8ffef;
  --color-secondary-95: #d9f8e4;
  --color-secondary-90: #cbead6;
  --color-secondary-80: #afceba;
  --color-secondary-70: #94b2a0;
  --color-secondary-60: #7a9786;
  --color-secondary-50: #617d6d;
  --color-secondary-40: #496455;
  --color-secondary-35: #3d5849;
  --color-secondary-30: #314c3e;
  --color-secondary-25: #264133;
  --color-secondary-20: #1b3628;
  --color-secondary-15: #102b1e;
  --color-secondary-10: #052014;
  --color-secondary-5: #00150a;
  --color-secondary-0: #000000;

  --color-error-100: #ffffff;
  --color-error-99: #fffbff;
  --color-error-98: #fff8f7;
  --color-error-95: #ffedea;
  --color-error-90: #ffdad6;
  --color-error-80: #ffb4ab;
  --color-error-70: #ff897d;
  --color-error-60: #ff5449;
  --color-error-50: #de3730;
  --color-error-40: #ba1a1a;
  --color-error-35: #a80710;
  --color-error-30: #93000a;
  --color-error-25: #7e0007;
  --color-error-20: #690005;
  --color-error-15: #540003;
  --color-error-10: #410002;
  --color-error-5: #2d0001;
  --color-error-0: #000000;

  --color-tertiary-100: #ffffff;
  --color-tertiary-99: #f9fdff;
  --color-tertiary-98: #f3fbff;
  --color-tertiary-95: #ddf4ff;
  --color-tertiary-90: #b7eaff;
  --color-tertiary-80: #9bcee3;
  --color-tertiary-70: #80b3c7;
  --color-tertiary-60: #6598ab;
  --color-tertiary-50: #4b7e91;
  --color-tertiary-40: #306577;
  --color-tertiary-35: #22596a;
  --color-tertiary-30: #124d5e;
  --color-tertiary-25: #004152;
  --color-tertiary-20: #003544;
  --color-tertiary-15: #002a36;
  --color-tertiary-10: #001f28;
  --color-tertiary-5: #00131a;
  --color-tertiary-0: #000000;

  --opacity-3-75: 0.0375;
  --opacity-7: 0.07;
  --opacity-12: 0.12;

  --shadow-floating:
    0px -0.5px 1px 0px #fff inset, 0px 0.5px 1px 0px
    var(--neutral-variant-100, #fff) inset;
}
