@import "tailwindcss";
@plugin "@ssok/tailwind-config";

@layer base {
  :root {
    --font-pretendard: "Pretendard";
  }

  html {
    font-size: 62.5%;
  }

  body {
    padding: 0;
    margin: 0;
    font-family: var(--font-pretendard);
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
  }
}
