@import "tailwindcss";
@import "pretendard/dist/web/variable/pretendardvariable.css";

@theme {
  --font-family-pretendard: "Pretendard Variable", sans-serif;

  /* font-weight  */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* letter-spacing  */
  --letter-spacing-tight: -0.06em;
  --letter-spacing-normal: -0.04em;
  --letter-spacing-wide: 0rem;

  /* line-height  */
  --line-height-normal: 1.5;
  --line-height-loose: 1.8;

  /* font-size */
  --title1-semi36-size: 3.6rem;
  --title2-medi28-size: 2.8rem;
  --title3-bold24-size: 2.4rem;
  --heading1-semi20-size: 2rem;
  --heading2-semi18-size: 1.8rem;
  --heading2-medi18-size: 1.8rem;
  --body1-semi16-size: 1.6rem;
  --body1-medi16-size: 1.6rem;
  --body1-regular16-size: 1.6rem;
  --body2-medi14-size: 1.4rem;
  --body2-regular14-size: 1.4rem;
  --caption1-semi12-size: 1.2rem;
  --caption1-medi12-size: 1.2rem;
  --caption2-medi11-size: 1.1rem;
  --caption2-regular11-size: 1.1rem;
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font-family-pretendard);
  }
}

@layer utilities {
  /* Title */
  .title1-semi36 {
    font-size: var(--title1-semi36-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-tight);
  }

  .title2-medi28 {
    font-size: var(--title2-medi28-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-tight);
  }

  .title3-bold24 {
    font-size: var(--title3-bold24-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  /* Heading */
  .heading1-semi20 {
    font-size: var(--heading1-semi20-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  .heading2-semi18 {
    font-size: var(--heading2-semi18-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  .heading2-medi18 {
    font-size: var(--heading2-medi18-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  /* Body */
  .body1-semi16 {
    font-size: var(--body1-semi16-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  .body1-medi16 {
    font-size: var(--body1-medi16-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-wide);
  }

  .body1-regular16 {
    font-size: var(--body1-regular16-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .body2-medi14 {
    font-size: var(--body2-medi14-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .body2-regular14 {
    font-size: var(--body2-regular14-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-loose);
    letter-spacing: var(--letter-spacing-normal);
  }

  /* Caption */
  .caption1-semi12 {
    font-size: var(--caption1-semi12-size);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .caption1-medi12 {
    font-size: var(--caption1-medi12-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .caption2-medi11 {
    font-size: var(--caption2-medi11-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }

  .caption2-regular11 {
    font-size: var(--caption2-regular11-size);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-normal);
  }
}
